---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["h-px bg-[repeating-linear-gradient(to_right,var(--color-border)_0,var(--color-border)_6px,transparent_6px,transparent_12px)]", className]} role="separator"></div>
