---
interface Props {
	href: string;
	label: string;
}

const { href, label } = Astro.props;
---

<a
	href={href}
	target="_blank"
	rel="noopener noreferrer"
	class="flex-1 sm:flex-none inline-flex items-center justify-center h-14 sm:h-11 sm:w-11 rounded-xl bg-btn-icon-bg text-btn-icon-text hover:bg-btn-icon-hover-bg hover:text-btn-icon-hover-text transition hover:scale-105 active:scale-95"
	aria-label={label}
>
	<slot />
</a>
